@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Russo+One&display=swap');

// font-family: 'Lato', sans-serif;
// font-family: 'Russo One', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-size: 10px;
}

.app {
    width: 100%;
    min-height: 100vh;
    background: #2a2a2a;
    font-family: 'Lato', sans-serif;
    color: #fff;
    display: grid;
    grid-template-areas: 
    "nav"
    "main"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 64px 1fr 40px;
}